//
//  Product.xcconfig
//  SwiftyFramework
//
//  Created by BANYAN on 2020/3/19.
//  Copyright © 2020 BANYAN. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUNDLE_DISPLAY_NAME = SwiftyFramework(Product)


/// Bundle Identifier
BUNDLE_IDENTIFIER = com.Better.SwiftyFramework.release


/// APP Icon
APP_ICON = AppIconProduct
