//
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


#include "Common.xcconfig"
#include "Pods/Target Support Files/Pods-SwiftyFramework/Pods-SwiftyFramework.release.xcconfig"

BUNDLE_DISPLAY_NAME = SwiftyFramework(Release)

/// Bundle Identifier
BUNDLE_IDENTIFIER = com.Better.SwiftyFramework

/// APP Icon
APP_ICON = AppIconRelease

